// colors
$lightGrey: rgb(248, 249, 250);
$grey: rgb(234, 237, 237);
$darkBlue: #232f3e;
$scarlet: #dc3545;
$goldBrown: #846a29;
$gold: #f0c14b;
$lightGold: #f0c14b;
$darkGold: #a88734;
$greenLink: #007185;
$lightCopperBrown: #9c7e31;
$darkCopperBrown: #846a29;