@import '../../styles/layout';
@import '../../styles/colors';

.rep-card {
    margin: 15px 0 15px 70px;

    .rep-card-layout {
      display: flex;

      .user-avatar {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 5px;
      }

      .rep-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $gray;
        padding: 10px;
        border-radius: 20px;
      }

      .dropdown {
        align-self: center;
  
        button {
          background: $white;
          color: $black;
          border: none;
        }
      }
      
      .rep-media-list-ct{
        display: flex;

        @media screen and (max-width: $small) {
          flex-direction: column;
          align-items: center;
        }

        img,
        div {
          width: 150px !important;
          height: 100px !important;
          object-fit: contain;
          margin: 5px;
        }
      }
    }

    .rep-modal {
      margin-top: 20px;
      display: flex;
      max-width: 600px;
    
      .user-avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 5px;
      }
    
      .rep-modal-ct {
        flex: 1;
        width: 100%;
        background-color: $gray;
        border-radius: 30px;
        padding: 15px;
    
        .rep-modal-header {
          justify-content: space-between;
    
          img {
            width: 30px;
            height: 30px;
            margin-left: 15px;
          }
    
          input {
            display: none
          }
        }
    
        textarea {
          @include cmtTextBox;
          border-radius: 0;
          padding: 0;
          margin-bottom: 10px;
          resize: none;
          overflow: hidden;
          width: 100%;
        }
    
        .rep-media-list-ct {
          display: flex;
    
          @media screen and (max-width: $small) {
            flex-direction: column;
            align-items: center;
          }
    
          img,
          div {
            width: 150px !important;
            height: 100px !important;
            object-fit: contain;
            margin: 5px;
          }
        }
    
        .rep-modal-footer {
          text-align: right;
        }
      }
    }
  }

