@import '../styles/_layout';
@import '../styles/_colors';

.home {
    @include parentLayout;
    background-color: $gray;

    .most-discounts-product-list {
        display: "flex";
        position: "relative";
        bottom: 100px;

    }

    .best-sale-product-list,
    .new-arrival-product-list {

        .carousel-item {
            background: $white;
            padding: 10px;
            border-radius: 5px;

            .banner-img {
                height: 100%;
                width: 100%;
                min-height: 750px;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                border-radius: 5px;
            }
        }

        @media screen and (max-width: $small) {
            .col-sm-8 {
                padding: 0;
            }
        }

    }
}