@import '../styles/layout';
@import '../styles/colors';

.order {
    @include parentLayout;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 100vh;

    h2 {
        font-weight: bold;
        margin: 15px;
        text-transform: capitalize;
    }

    .order-list-ct {
        display: flex;
        margin: 0 15px;

        .order-list-layout {
            display: flex;
            flex-direction: column;
            flex: 0.8;

            margin-right: 30px;

            .order-list-header {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                background: $white;

                text-transform: capitalize;
                text-align: center;

                border: 1px solid lightgray;
                border-radius: 10px;

                padding: 10px;
                margin: 0;

                b {
                    padding: 8px;
                }

                img {
                    height: 18px;
                    width: 18px;
                }
            }

            @media screen and (max-width: $small) {
                .order-list-header {
                    div:first-of-type {
                        display: flex;
                        flex-direction: column;
                    }

                    b {
                        visibility: hidden;
                    }
                }
            }
        }

        .order-checkout-ct {
            display: flex;
            flex-direction: column;
            flex: 0.2;

            .order-address-ct {
                background: $white;
                border: 1px solid lightgray;
                border-radius: 10px;
                padding: 10px;

                .order-address-header {
                    display: flex;

                    span:first-of-type {
                        margin-right: auto;
                    }
                }

                .order-address-body {
                    
                }
            }
        }


    }

}

@media screen and (max-width: $large) {
    .order {
        .order-list-ct {
            display: flex;
            flex-direction: column-reverse;

            .order-list-layout {
                margin-right: 0;
                margin-top: 30px;
            }
        }
    }
}