@import '../styles/layout';

.product {
  @include parentLayout;
  display: flex;
  flex-direction: column;
  background: $white;
  margin-top: 40px;
  border-radius: 20px;
  padding: 30px;

  @media screen and (max-width: $large) {
    padding: 10px;
  }

  .product-info-ct {
    .product-info-img {
      width: 100%;
      object-fit: cover;
    }

    .product-info-content {
      h1 {
        text-transform: capitalize;
      }

      .product-manufacturer {
        text-decoration: none;
        color: #007185;
      }

      .product-price {
        display: flex;
        align-items: center;

        span {
          line-height: 24px;
          font-weight: bold;
        }
      }
    }
  }

  .product-qty-container {
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;

    .product-qty-input {
      align-items: center;

      div {
        @include quantityGroupBtn;
        flex: 1;

        input {
          width: 100px;
        }
      }
    }

    .add-to-cart-btn {
      @include goldenBtn;
    }
  }

  .product-signin-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    button {
      @include goldenBtn;
    }

  }

  .cmt-box-ct {
    align-items: center;
    padding: 0 !important;

    .col:first-of-type {
      flex-grow: 0;
      padding: 0;
    }

    .avatar {
      @include avatar;
    }

    .cmt-box-content {
      flex: 1;
      background: #ececec;
      border-radius: 20px;
      padding: 10px;

      .cmt-box-header {
        justify-content: space-between;

        b {
          padding-left: 5px;
        }

        div {
          display: flex;

          input {
            display: none;
          }

          img {
            height: 30px;
            width: 30px;
            margin-left: 15px;
          }
        }

      }


      textarea {
        @include cmtTextBox;
        padding: 5px;
        resize: none;
        overflow: hidden;
        width: 100%;
      }

      .upload-media-btn {

        img,
        div {
          width: 150px !important;
          height: 100px !important;
          object-fit: contain;
          margin: 5px;
        }
      }
    }
  }
}