@import "../styles/_layout";
@import "../styles/_colors";

.signup {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $gray;
    height: 100vh;

    .signup-ct {
        width: 100%;
        max-width: 360px;
        padding: 20px;
        background: $white;

        input {
            margin-right: 10px;
        }

        label {
            font-size: larger;
        }

        button {
            @include outlineImgBtn;
        }
    }

    .signup-term-ct {
        margin-top: 15px;
        color: $darkGray;
        text-align: center;
        font-size: small;

        p:first-child > span:nth-child(2) {
            font-weight: bold;
        }

        p:last-child {
            font-weight: bold;
        }
    }
}