@import '../../styles/layout';
@import '../../styles/_colors';


.navbar-container {
    background-color: $lightGray;
    padding: 10px 0;

    .navbar-layout {
        @include parentLayout;

        .navbar-brand {
            margin: 0;
        }

        .navbar-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }


        .navbar-searchbox {
            display: flex;
            flex-direction: row;

            width: 100%;

            border-radius: 10px;
            border: 2px solid $gray;

            padding: 10px;
            margin-top: 10px;
            background: $white;

            @media screen and (min-width: $large) {
                max-width: 600px;
            }

            input {
                display: flex;
                border: 0;
                padding: 5px 0;
                line-height: 30px;
                width: 100%;

                &:focus {
                    outline: none;
                    border: none;
                }
            }

            img {
                width: 20px;
            }
        }


        .login_btn {
            @include goldenBtn;
            height: 50px;
            width: 50px;
            text-align: center;
            margin-left: 15px;

            @media screen and (max-width: $extraLarge) {
                margin-top: 15px;
                margin-left: 0;
            }
        }

        .setting-dropdown {
            >a {
                @media screen and (max-width: $large) {
                    padding-left: 0;
                }
            }

            .setting-user-avatar {
                @include avatar;
                margin-left: 10px;
                padding: 5px;
            }
        }
        
        .nav-link {
            @media screen and (max-width: $medium) {
                padding-left: 0;
            }
        }
    }
}