@import '../styles/layout';
@import '../styles/_colors';


.navbar-layout {
    background-color: $lightGrey;
    padding: 10px 0;

    .navbar-content {
        @include layout;

        .navbar-brand {
            margin: 0 !important;
        }

        .navbar-logo {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .navbar-logo:hover {
            opacity: 0.6;
        }

        .navbar-searchbox {
            display: flex;
            flex-direction: row;
            flex: 1;
            max-width: 400px;
            margin: 10px 0;
            border: 1px solid $lightGrey;
            border-radius: 5px;
            padding: 10px;
            background: $white;
        }

        .navbar-searchbox {
            input {
                border: none;
                display: flex;
                padding: 5px 0;
                line-height: 25px;
                width: 100%;
            }
        }

        .navbar-searchbox {
            input:focus {
                outline: none;
                border: none;
            }
        }

        .navbar-searchbox {
            button {
                background: transparent;
                border: none;
            }
        }

        .navbar-searchbox {
            button:focus {
                outline: none;
                border: none;
            }
        }
    }
}

.banner {
    width: 100%;
    display: flex;
    position: relative;

    .carousel-indicators {
        visibility: hidden;
    }

    .banner-img {
        height: 100%;
        min-height: 400px;
        mask-image: $bottomBlur;
    }

}

.category {
    display: flex;
    width: 100%;
    position: relative;
    top: -200px;
    margin-bottom: -170px;

    .category-card-list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }

    .category-card-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: $white;
        padding: 20px 5px 5px 5px;
        margin: 20px 5px 5px 5px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            opacity: 0.4;
        }

        .category-card-name {
            text-transform: capitalize;
            font-weight: 700;
            word-break: break-all;
        }

        .category-card-image {
            width: 100%;
            height: 100%;
            min-height: 300px;
            object-fit: cover;
        }

        .category-card-link {
            cursor: pointer;
            color: $greenLink;
            margin: 20px 0;
            font-size: 15px;
        }
    }

    .signin-container {
        display: flex;
        flex: 0.2 1;
        flex-direction: column;
        background-color: $white;
        padding: 20px 5px 33px 5px;
        margin: 20px 5px 5px 5px;
        border-radius: 5px;

        .signin-container-signin-btn {
            >h5 {
                text-transform: capitalize;
                font-weight: 700;
                word-break: break-all;
            }

            button {
                background: $gold;
                border-radius: 2px;
                width: 100%;
                border: 1px solid;
                height: 50px;
                margin: 20px 0;
                border-color: $darkGold $lightCopperBrown $darkCopperBrown;
                word-break: break-all;
                font-size: large;
            }
        }

        .shipping-img {
            display: flex;
            flex: 0.8;

            .category-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }
}

.product-card {
    display: flex;
    flex-direction: column;

    p {
        margin: 0 !important;
        padding: 2px 0;
    }

    &:hover {
        opacity: 0.4;
    }

    .product-card-button-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        bottom: -20px;

        button {
            border: 2px solid $white;
            background-color: $scarlet;
            border-radius: 10px;
        }
    }

    .product-card-container {
        background-color: $white;
        border-radius: 10px;
        padding: 5px 5px 20px 5px;
        margin: 5px 0;
        height: 380px;
        cursor: pointer;
        border: 1px solid $lightGrey;

        .product-card-img {
            width: 100%;
            height: 100%;
            max-width: 170px;
            max-height: 200px;
            object-fit: contain;
        }

        .product-card-name {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 50px;

            &>p {
                text-transform: capitalize;
                color: $greenLink;
                font-weight: 500;
            }
        }

        .product-card-price {
            margin-top: auto;

            .product-card-net-price {
                white-space: nowrap;
                display: inline-block;
                position: relative;
                left: 15px;

                &>span {
                    font-weight: bold;
                }
            }

            .product-card-net-price-hide {
                display: none;
            }

            .product-card-gross-price-remove {
                text-decoration: line-through;
                opacity: 0.6;
            }

            .product-card-gross-price {
                font-weight: bolder;
                font-size: larger;
            }
        }


        .product-card-rating {
            font-size: small;
        }

        .product-card-sold-quantity {
            &>p {
                color: $greenLink;
            }
        }
    }
}