@import '../../styles/layout';
@import '../../styles/colors';

.cmt-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 !important;

  .col {
    padding: 0;
  }

  .cmt-card-ct {
    display: flex;

    .cmt-card-avatar {
      @include avatar;
    }

    .cmt-card-content {
      background-color: #ececec;
      border-radius: 20px;
      padding: 10px;
      margin: 10px 0;
      word-break: break-all;

      .cmt-card-header {
        justify-content: space-between;

        img {
          height: 30px;
          width: 30px;
          margin-left: 15px;
        }

        input {
          display: none
        }
      }

      .cmt-card-media {
        width: 150px !important;
        height: 100px !important;
        object-fit: contain;
        margin: 5px;
      }

      .edit-cmt-ct {
        background: white;
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;

        textarea {
          @include cmtTextBox;
          background: white;
          border-radius: 0;
          padding: 0;
          margin-bottom: 10px;
          resize: none;
          overflow: hidden;
          width: 100%;
        }

      }
    }

    .dropdown {
      align-self: center;

      button {
        background: $white;
        color: $black;
        border: none;
      }
    }
  }

  .cmt-card-modal-list {

    .edit-cmt-modal {
      display: flex;
      flex: 1;
      margin: 20px;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    .rep-card {
      margin: 15px 0 15px 50px;

      .rep-ct {
        display: flex;

        img {
          @include avatar;
        }

        .rep-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #ececec;
          padding: 0 10px;
          border-radius: 15px;
        }
      }
    }
  }

  .reply-modal {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex: 1;

    img {
      @include avatar;
    }

    textarea {
      @include cmtTextBox;
    }
  }
}