@import '../../styles/layout';
@import '../../styles/colors';

.cmt-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 !important;

  .col {
    padding: 0;
  }

  .cmt-card-ct {
    margin-bottom: 10px;

    .col {
      &:first-of-type {
        flex-grow: 0;

        .cmt-cart-avatar {
          @include avatar;
        }
      }

      &:last-of-type {
        display: flex;
        flex-direction: column;
        word-break: break-all;

        .cmt-card-content {
          background-color: #ececec;
          width: fit-content;
          border-radius: 20px;
          padding: 10px;

          p {
            text-transform: none;
          }

          .cmt-card-media {
            width: 150px !important;
            height: 100px !important;
            object-fit: contain;
            margin: 5px;
          }
        }

      }
    }
  }

  .cmt-action-btn-list {
    &>span {
      background-color: #ececec;
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
    }

    .rep-card {
      margin: 15px 0 15px 50px;

      .rep-ct {
        display: flex;

        img {
          @include avatar;
        }

        .rep-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #ececec;
          text-transform: none;
          padding: 0 10px;
          border-radius: 15px;
          word-break: break-all;
        }
      }
    }
  }

  .reply-modal {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex: 1;

    img {
      @include avatar;
    }

    textarea {
      @include cmtTextBox;
    }
  }
}