@import '../../styles/layout';
@import '../../styles/colors';

.cmt-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 !important;

  .col {
    padding: 0;
  }

  .cmt-card-ct {
    display: flex;

    .cmt-card-avatar {
      @include avatar;
    }

    .cmt-card-layout {
      background-color: $gray;
      border-radius: 20px;
      padding: 10px;
      word-break: break-word;

      .cmt-card-header {
        display: flex;
        justify-content: space-between;

        img {
          height: 30px;
          width: 30px;
          margin-left: 15px;
        }

        input {
          display: none
        }
      }

      .cmt-media-ct {
        display: flex;
        align-items: center;

        @media screen and (max-width: $small) {
          flex-direction: column;
        }
      }

      .cmt-card-media {
        width: 190px !important;
        height: 150px !important;
        object-fit: contain;
        margin: 10px;
      }

      .edit-cmt-ct {
        background: white;
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;

        textarea {
          @include cmtTextBox;
          background: white;
          border-radius: 0;
          padding: 0;
          margin-bottom: 10px;
          resize: none;
          overflow: hidden;
          width: 100%;
        }

        div {
          display: flex;
          align-items: center;

          @media screen and (max-width: $small) {
            flex-direction: column;
          }
        }
      }
    }

    .dropdown {
      align-self: center;

      button {
        background: $white;
        color: $black;
        border: none;
      }
    }
  }

  .cmt-card-modal-list {

    .edit-cmt-modal {
      display: flex;
      flex: 1;
      margin: 20px;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }
  }

  .cmt-modal {
    margin-top: 20px;
    margin-left: 75px;
    display: flex;
    max-width: 600px;
  
    .user-avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
  
    .cmt-modal-ct {
      flex: 1;
      width: 100%;
      background-color: $gray;
      border-radius: 30px;
      padding: 15px;
  
      .cmt-modal-header {
        justify-content: space-between;
  
        img {
          width: 30px;
          height: 30px;
          margin-left: 15px;
        }
  
        input {
          display: none
        }
      }
  
      textarea {
        @include cmtTextBox;
        border-radius: 0;
        padding: 0;
        margin-bottom: 10px;
        resize: none;
        overflow: hidden;
        width: 100%;
      }
  
      .rep-media-list-ct {
        display: flex;
  
        @media screen and (max-width: $small) {
          flex-direction: column;
          align-items: center;
        }
  
        img,
        div {
          width: 150px !important;
          height: 100px !important;
          object-fit: contain;
          margin: 5px;
        }
      }
  
      .cmt-modal-footer {
        text-align: right;
      }
    }
  }
}

