.sub-cmt-card {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.sub-cmt-ct {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sub-cmt-ct > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#sub__comment__card__comment__sender__name {
  text-transform: capitalize;
}

.sub-cmt-content {
  background-color: #ececec;
  padding: 0 10px;
  border-radius: 15px;
  word-break: break-all;
}

.sub-cmt-content > span:first-child {
  font-weight: bold;
  text-transform: capitalize;
}

.sub-cmt-action-btn-list {
  margin-left: 40px;
}

.sub-cmt-action-btn-list > small {
  background-color: #ececec;
  padding: 0 5px;
  margin: 10px 5px;
  border-radius: 10px;
}

.sub-cmt-action-btn-list > small:last-child {
  background-color: transparent;
}

.align-left {
  margin-left: 50px;
}
