@import '../../styles/colors';
@import '../../styles/layout';
@import '../../styles/animation';

.chat-modal {
  color: $white;

  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;

  @media screen and (max-width: $medium) {
    display: none;
  }

  .chat-modal-ct {
    @include fadeIn;

    width: 700px;
    background: $black;
    padding: 10px;
    border: 1px solid $black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    .chat-modal-header {
      display: flex;
      justify-content: space-between;
      text-align: center;

      span {
        background: $darkGray;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        font-weight: bold;
        font-size: large;
      }
    }

    .chat-modal-body {
      display: flex;
      height: 500px;

      .current-chat-ct {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        height: 100%;

        .current-chat-header {
          display: flex;
          align-items: center;
          margin-bottom: auto;

          img {
            @include avatar;
          }
        }

        .current-chat-body {
          max-height: 400px;
          overflow-y: scroll;
          @include customedScrollbar;

          div {
            display: flex;
            align-items: flex-end;
            padding: 5px;

            .msg-content {
              max-width: 200px;
              padding: 10px;
              border-radius: 10px;
              word-break: break-word;
              margin-left: 5px;
            }
          }

          .my-msg-ct {
            flex-direction: row-reverse;

            .msg-content {
              background: $greenChat;
              border-radius: 10px 0 10px 10px;
            }
          }
        }

        textarea {
          width: 100%;
          border: 0;
          background-color: $gray;
          padding: 10px;
          border-radius: 20px;
          @include customedScrollbar;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }

      .cvs-list-ct {
        flex: 1;
      }
    }

  }
}