@import '../../styles/colors';
@import '../../styles/layout';
@import '../../styles/animation';

.chat-modal {
  @include fadeIn;
  
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;

  @media screen and (max-width: $medium) {
    display: none;
  }

  .chat-modal-ct {
    @include fadeIn;
    width: 700px;
    background: $black;
    padding: 10px;
    border: 1px solid $black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    .chat-modal-header {
      display: flex;

      img {
        margin-left: auto;
        width: 30px;
        height: 30px;
      }
    }

    .chat-modal-body {
      display: flex;
      height: 500px;

      .current-chat {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        height: 100%;

        .chat-avatar {
          display: flex;
          align-items: center;
          margin-bottom: auto;

          img {
            @include avatar;
          }
        }

        .chat-box {
          max-height: 400px;
          overflow-y: scroll;
          @include customedScrollbar;

          .msg-ct {
            display: flex;
            align-items: flex-end;
            margin: 5px;

            span {
              max-width: 200px;
              padding: 10px;
              border-radius: 10px;
              word-break: break-word;
            }
          }

          .msg-from {
            flex-direction: row-reverse;
            justify-content: flex-start;

            span {
              color: $white;
              background: $greenChat;
              border-top-right-radius: 0;
            }
          }

          .msg-to {
            span {
              border: 1px solid gray;
              border-top-left-radius: 0;
            }
          }
        }

        textarea {
          width: 100%;
          border: 0;
          background-color: $gray;
          padding: 10px;
          border-radius: 20px;
          @include customedScrollbar;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }

      .cvs-list-ct {
        flex: 1;

        .cvs-ct {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid $gray;
          padding: 5px;
          border-radius: 10px;
          margin-bottom: 10px;

          &:hover {
            background: $gray;
          }

          .csv-msg-ct {
            display: flex;

            img {
              @include avatar;
            }
          }

          .csv-product-ct {
            img {
              width: 55px;
              height: 55px;
            }
          }
        }
      }
    }

  }
}